<div class="container-fluid">

	<h2>Admin</h2>

	<div bs-tabs class="control-group col-md-12">

		<div bs-pane data-title="Download" style="padding-left:0px;">
			<div class="circle">Download_1</div>

			<br><br>
			<button class="btn btn-primary" ng-click="downloadGBIF()">Download til GBIF</button>
			<button class="btn btn-primary" ng-click="downloadData()">Download alle data i regnearksformat</button>

		</div>

		<div bs-pane data-title="Analyse" style="padding-left:0px;">
			<table id="table-resultat" datatable="" class="table" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceCallback">
			</table>
		</div>

		<div bs-pane data-title="Brugere" style="padding-left:0px;">
			<table id="table-user" datatable="" class="table table-striped" dt-options="dtUserOptions" dt-columns="dtUserColumns">
			</table>
		</div>

		<div bs-pane data-title="Indhold" style="padding-left:0px;">
			<button data-placeholder="Vælg element"
				class="btn btn-default select" 
				ng-model="content.name" 
				bs-options="o as o for o in content.items" 
				bs-select>
				<span class="caret"></span>
			</button>			

			<button class="btn btn-default btn-sm pull-right" 
				ng-class="{ 'btn-ku' : content.changed }"	
				ng-click="saveContent()"
				ng-disabled="!content.changed"
			>
				Gem ændringer
			</button>

			<br><br>
			<div class="control-group col-md-12">
				<text-angular ng-model="content.content"> </text-angular>
			</div>

		</div>

	</div>	

</div>


