
#dtPhd td {
	white-space: nowrap;
	word-break: keep-all;
}

#dtPhd th  {
	white-space: nowrap;
	word-break: keep-all;
}

td.no-break  {
	white-space: nowrap;
	word-break: keep-all;
}

/** fix angular-dataTables pagination issue **/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0px;
}


