/* 
	CSS that is specifically bound to privat.tpl.html
*/

table.miljoe-table {
	border-spacing:5px 3px;
	border-collapse: separate;
}

table.madding-table {
	border-spacing:5px 3px;
	border-collapse: collapse; 
}

div.eksperiment-cnt {
	overflow-y: visible;
	min-height:300px !important;
}

div.eksperiment-map {
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

