
<div ng-repeat="x in pagedEksperimenter[currentPage] | orderBy : sortering.value " >

	<div bs-tabs class="control-group col-md-12 eksperiment-block" id="eksperiment-cnt-{{ x.eksperiment_id }}">

 		<button class="btn btn-default btn-xs btn-eksperiment-delete" 
			title="{{ !x.hasResultat ? 'Slet eksperiment' : 'Eksperimenter der er blevet analyseret kan ikke slettes' }}" 
			ng-disabled="x.hasResultat"
			ng-click="deleteEksperiment(x.eksperiment_id)">
			<i class="fa fa-times" ng-class="{ 'text-danger': !x.hasResultat }"></i>
		</button>

		<!--------- oversigt -------->	
		<div bs-pane data-title="{{ x.titel || x.myrejagt_id }}">
			<form novalidate id="formOversigt{{ x.eksperiment_id }}" autocomplete="off" spellcheck="false">
				<input type="hidden" name="eksperiment_id" value="{{ x.eksperiment_id }}" />

				<div class="col-md-6" class="eksperiment-cnt">

					<label class="normal">
						Navn på eksperiment
						<i info-sm info-placement="right" info-popover content-name="Navn_paa_eksperiment"></i>
					</label>

					<input type="text" class="form-control bold input-lg" select-on-click ng-model="x.titel" name="titel" />
	
					<div class="col-md-6" style="padding-left: 0px !important;">
						<label class="normal required">Dato</label>
						<input type="text" 
							class="form-control bold input-lg" 
							ng-model="x.dato" 
							name="dato" 
							bs-datepicker 
							data-date-format="dd-MM-yyyy" 
							size="7" 
							data-autoclose="true" 
							data-container="body" />
					</div>

					<div class="col-md-3" style="padding-left: 0px !important;">
						<label class="normal required">Starttidspunkt</label>
						<input type="text" 
							class="form-control bold input-lg" 
							ng-model="x.start_tid" 
							name="start_tid" 
							bs-timepicker 
							data-time-format="HH:mm" 
							data-time-type="string" 
							data-length="1" 
							data-minute-step="1" 
							data-arrow-behavior="picker" 
							data-autoclose="true" 
							data-container="body" />
					</div>

					<div class="col-md-3" style="padding-left: 0px !important;">
						<label class="normal required">Sluttidspunkt</label>
						<input type="text" 
							class="form-control bold input-lg" 
							ng-model="x.slut_tid" 
							name="slut_tid" 
							bs-timepicker 
							data-time-format="HH:mm" 
							data-length="1" 
							data-minute-step="1" 
							data-arrow-behavior="picker" 
							data-autoclose="true" 
							data-container="body" />
					</div>

					<label class="normal">Myrejagt-id :</label>
					<input type="text" class="form-control bold input-lg" select-on-click value="{{ x.myrejagt_id }}" readonly />

				</div>

				<br class="visible-xs-block visible-sm-block">
				<div class="col-md-6">
					<leaflet 
						id="{{ x.mapId }}" 
						mapId="{{ x.mapId }}" 
						class="eksperiment-map" 
						center="x.map.center" 
						defaults="x.map.defaults" 
						layers="x.map.layers" 
						markers="[x.map.markers.staticMarker]" 
						events="x.map.events" 
						height="280px" style="border:1px solid #ccc;border-radius:5px;">
					</leaflet>
				</div>

			</form>

				<br class="visible-xs visible-sm">
				<button class="btn btn-default btn-eksperiment-save" 
					ng-class="{ 'btn-ku' : eksperimentFormChanged('formOversigt{{ x.eksperiment_id }}') }"
					ng-click="updateEksperiment('formOversigt'+x.eksperiment_id)" 
					ng-disabled="!eksperimentFormChanged('formOversigt{{ x.eksperiment_id }}')">
					<i class="fa fa-check"></i>
					Gem ændringer
				</button>	

		</div>

		<!---------- lokalitet ------------->
		<div bs-pane data-title="Lokalitet" XXstyle="padding-left:0px;">

			<form novalidate id="formLokalitet{{ x.eksperiment_id }}" autocomplete="off" spellcheck="false">

				<input type="hidden" name="eksperiment_id" value="{{ x.eksperiment_id }}" />
				<input type="hidden" name="geometryWkt" value="{{ x.geometryWkt }}" />
				<input type="hidden" name="lat" value="{{ x.lat }}" />
				<input type="hidden" name="lng" value="{{ x.lng }}" />
				<input type="hidden" name="UTM" value="{{ x.utm }}" />

				<div class="control-group col-md-6">

					<label class="normal">Søg lokalitet</label>
					<i info-sm info-placement="right" info-popover content-name="Soeg_lokalitet"></i>
					<input type="text" 
						class="form-control bold input-md" 
						ng-model="x.adresse" 
						select-on-click 
						ng-click="eksperimentAdresseClick(x.eksperiment_id)"
						adresse-opslag 
						adresse-type="{{ x.adresseType }}" 
						on-select="eksperimentAdresseSelect" 
						eksperiment-id="{{ x.eksperiment_id }}" name="adresse" />
	
					<div class="col-sm-12 text-right">
						<label class="radio-inline" 
							bs-popover 
							data-container="html" 
							data-trigger="hover" 
							data-placement="bottom" 
							data-content="Opslag i Geodatastyrelsens stednavne-register. Her kan du søge på bygninger, naturområder, seværdigheder etc. med opslag på populærnavne."> 
							<input type="radio" class="exclude-from-form" ng-model="x.adresseType" name="opslag" value="stednavne_v2" />
							Stednavne
						</label>
						<label class="radio-inline" 
							bs-popover 
							data-container="html" 
							data-trigger="hover" 
							data-placement="bottom" 
							data-content="Opslag i Geodatastyrelsens adresse-register. Her kan du søge på vejnavn og husnr. "> 
							<input type="radio" class="exclude-from-form" ng-model="x.adresseType" name="opslag" value="adresser" checked  />
							Adresser
						</label>
					</div>
	
					<div class="col-sm-12" style="min-height:10px;"></div>

					<!-- field is made hidden -->
					<input type="hidden" ng-model="x.postnr" name="postnr" />
					<input type="hidden" ng-model="x.by" name="by" />
					<input type="hidden" ng-model="x.kommune" id="kommune" name="kommune" />
					<input type="hidden" ng-model="x.region" name="region" />

					<div class="control-group col-md-12" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal">Bemærkninger</label>
						<i info-sm info-placement="right" info-popover content-name="Eksperiment_bemaerk"></i>
						<textarea class="form-control" 
							ng-model="x.kommentar" 
							name="kommentar" 
							rows="4" 
							spellcheck="false">
						</textarea>
					</div>
				</div>

				<br class="visible-xs visible-sm">
				<div class="control-group col-md-6">
					<leaflet id="{{ x.mapIdLok }}"
						mapId="{{ x.mapIdLok }}" 
						class="eksperiment-map" 
						center="x.map.center" 
						defaults="x.map.defaults" 
						layers="x.map.layers" 
						markers="[x.map.markers.draggableMarker]" 
						events="x.map.events" 
						height="280px">
					</leaflet>
				</div>

			</form>		

			<br class="visible-xs visible-sm">
			<button class="btn btn-default btn-eksperiment-save" 
				ng-class="{ 'btn-ku' : eksperimentFormChanged('formLokalitet{{ x.eksperiment_id }}') }"
				ng-click="updateEksperiment('formLokalitet'+x.eksperiment_id)" 
				ng-disabled="!eksperimentFormChanged('formLokalitet{{ x.eksperiment_id }}')">
				<i class="fa fa-check"></i>
				Gem ændringer
			</button>	
		</div>

		<!---------- resultat ------------->
		<div bs-pane data-title="Data">

			<form novalidate id="formResultater{{ x.eksperiment_id }}"  class="col-md-12 no-padding" autocomplete="off" spellcheck="false">

				<table class="miljoe-table col-md-3 no-padding">
					<thead>
						<tr>
							<th colspan="2">
								Miljødata
								<i info-sm info-popover info-placement="right" content-name="Miljoe_data"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="normal">Temp.°</td>
							<td style="white-space:nowrap;">
								<input type="number" 
									placeholder="0" 
									class="form-control" 
									ng-model="x.temp" 
									name="temp"
									ng-class="{ 'has-value' : x.temp != undefined }"
									style="width:70px !important; display: inline;" 
									min="-50"
									max="50"/>
								<i info-sm info-placement="right"	info-popover content-name="Miljoe_temp"></i>
							</td>
						</tr>

						<tr>
							<td class="normal">Vejr</td>
							<td>
								<button data-placeholder="Vælg"
									style="width: 120px !important;text-align:left;"
								  type="button" 
									class="btn btn-default select btn-sm" 
									ng-model="x.vejr" 
									name="vejr"
									data-toggle="true" 
									ng-class="{ 'has-value' : x.vejr != undefined }"
									bs-options="i.value as i.label for i in items.vejr" 
									bs-select>
									<span class="caret"></span>
								</button>
								<i info-sm info-placement="right"	info-popover content-name="Miljoe_sky_regn"></i>
							</td>
						</tr>

						<tr>
							<td class="normal">Skygge</td>
							<td>
								<button data-placeholder="Vælg"
									style="width: 120px !important;text-align:left;"
								  type="button" 
									class="btn btn-default select btn-sm" 
									ng-model="x.sol" 
									name="sol"
									data-toggle="true" 
									ng-class="{ 'has-value' : x.sol != undefined }"
									bs-options="i.value as i.label for i in items.sol" 
									bs-select>
									<span class="caret"></span>
								</button>
								<i info-sm info-placement="right"	info-popover content-name="Miljoe_skygge"></i>
							</td>
						</tr>

						<tr>
							<td class="normal">Vind</td>
							<td>
								<button data-placeholder="Vælg"
									style="width: 120px !important;text-align:left;"
								  type="button" 
									class="btn btn-default select btn-sm" 
									name="vind"
									ng-model="x.vind" 
									data-toggle="true" 
									ng-class="{ 'has-value' : x.vind != undefined }"
									bs-options="i.value as i.label for i in items.vind" 
									bs-select>
									<span class="caret"></span>
								</button>
								<i info-sm info-placement="right"	info-popover content-name="Miljoe_vind"></i>
							</td>
						</tr>
					</tbody>
				</table>

				<br class="visible-xs visible-sm">
				<table class="madding-table col-md-6">
					<thead>
						<tr>
							<th style="margin-bottom:10px;">Myredata</th>
							<th colspan="2" class="text-center">
								Antal myrer
							</th>
							<th></th>
						</tr>
						<tr>
							<th></th>
							<th class="normal small">
								Før indsamling
								<i info-sm info-popover info-placement="right" content-name="Myrer_foer_frysning"></i>
							</th>
							<th class="normal small">
								Efter frysning
								<i info-sm info-popover info-placement="right" content-name="Myrer_efter_frysning"></i>
							</th>
							<th class="normal small">
								Forstyrrelse
								<i info-sm info-popover info-placement="right" content-name="Myrer_forstyrrelse"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in x.Data | orderBy: 'order'">
							<td class="normal"> {{ d.madding }} &nbsp;</td>
							<td> 
								<input type="text" 
									placeholder="0.0"
									only-digits
									style="width: 90px;"
									name="myrer_indsamlet"
									class="form-control"
									select-on-click
									ng-model="d.myrer_indsamlet"
									ng-class="{ 'has-value' : d.myrer_indsamlet != undefined }">
							</td>
							<td> 
								<input type="text" 
									placeholder="0"
									style="width: 90px;"
									only-numbers
									name="myrer_frysning"
									class="form-control"  
									select-on-click
									ng-model="d.myrer_frysning"
									ng-class="{ 'has-value' : d.myrer_frysning != undefined }">
							</td>
							<td style="text-align:center;"> 
								<checkbox ng-model="d.madding_stjaalet" 
									ng-click="setNgDirty($event)"
									name="madding_sjaalet" 
									class="button-checkbox">
								</checkbox>
							</td>

						</tr>
					</tbody>
				</table>

				<br class="visible-xs visible-sm">
				<div class="col-md-3 no-padding" style="vertical-align: top;">
					<label>Noter</label>
					<i info-sm info-popover info-placement="right" content-name="Myrer_bemaerk"></i>
					<br>
					<textarea class="form-control" 
						ng-model="x.data_kommentar" 
						name="kommentar" 
						placeholder="Noter til fødevalg"
						spellcheck="false"
						rows="4"></textarea>
				</div>
				<span class="col-md-3 clearfix">&nbsp;</span>
				<div class="col-md-3 no-padding" style="vertical-align: top;">
					<label>Bemærkninger</label>
					<i info-sm info-popover info-placement="right" content-name="Myrer_andre_observationer"></i>
					<br>
					<textarea class="form-control" 
						ng-model="x.andre_observationer" 
						name="andre_observationer" 
						placeholder="Andre observationer"
						spellcheck="false"
						rows="4"></textarea>
				</div>

			</form>
			<div class="col-md-12 clearfix pull-left"><br><br></div>
			<div class="col-md-12 no-padding no-margin">
				<br class="visible-xs visible-sm">
				<button class="btn btn-default btn-eksperiment-save" 
					ng-class="{ 'btn-ku' : eksperimentFormChanged('formResultater{{ x.eksperiment_id }}') }"
					ng-click="updateEksperimentData(x.eksperiment_id)" 
					ng-disabled="!eksperimentFormChanged('formResultater{{ x.eksperiment_id }}')">
					<i class="fa fa-check"></i>
						Gem ændringer
				</button>	
			</div>
		</div>

		<!---------- billede ------------->
		<div bs-pane data-title="Upload billede">
			<div class="control-group col-md-6">
				Billede
				<i info-placement="right"	info-sm info-popover content-name="Upload_billede"></i>
				<button class="btn btn-default btn-xs pull-right" 
					title="Fjern billede (billedet bliver slettet fra serveren)"
					ng-disabled="x.upload_billede == undefined"
					ng-class="{ 'btn-danger' : x.upload_billede != undefined }"
					ng-click="deleteImage(x.eksperiment_id, x.upload_billede)">
					<i class="fa fa-times"></i>
				</button>
	
				<button class="btn btn-ku btn-xs pull-right" 
					style="margin-right: 5px;"
					ng-click="uploadImage(x.eksperiment_id, x.upload_billede)">Upload billede
				</button>
				<div class="upload-cnt">
					<img class="upload" ng-click="uploadImage(x.eksperiment_id, x.upload_billede)" src="{{ x.upload_billede }}" />
				</div>
			</div>
		</div>
	</div>
</div>

<!--- pagination --->
<div class="pull-right">
	<ul class="pagination">
		<li class="paginate_button"
			ng-class="{disabled: currentPage == 0}">
			<a href ng-click="prevPage()">« Forrige</a>
		</li>
		<li class="paginate_button"
			ng-repeat="n in range(pagedEksperimenter.length)"
			ng-class="{active: n == currentPage}"
			ng-click="setPage()">
			<a href ng-bind="n + 1">1</a>
		</li>
		<li class="paginate_button"
			ng-class="{disabled: currentPage == pagedEksperimenter.length - 1}">
			<a href ng-click="nextPage()">Næste »</a>
		</li>
	</ul>
</div>


