<div ng-repeat="x in eksperimenter | orderBy : sortering.value " render-finished="renderFinished()">

	<div bs-tabs class="control-group col-md-12 eksperiment-block" id="eksperiment-cnt-{{ x.eksperiment_id }}">

 		<button class="btn btn-default btn-xs btn-eksperiment-delete" title="Slet eksperiment / myrejagt" ng-click="deleteEksperiment(x.eksperiment_id)">
			<i class="fa fa-remove text-danger"></i>
		</button>

		<!--------- oversigt -------->
		<div bs-pane data-title="Oversigt" style="padding-left:0px;">
			<form novalidate id="formOversigt{{ x.eksperiment_id }}">
				<input type="hidden" name="eksperiment_id" value="{{ x.eksperiment_id }}" />

				<div class="col-md-6" style="min-height:300px !important;">
					<label class="normal required">
						Navn på eksperiment
							<i info-sm info-popover="Giv myrejagten en beskrivende titel eller navn. Det kan t.ex være &quot;Ved bustoppestedet&quot;, &quot;5B&quot;, &quot;Gunnar, Lise og Thor&quot; osv. Feltet er ikke obligatorisk."></i>
					</label>
					<input type="text" class="form-control bold input-lg" select-on-click ng-model="x.titel" name="titel" />
	
					<div class="col-md-4" style="padding-left: 0px !important;">
						<label class="normal required">Dato</label>
						<input type="text" class="form-control bold input-lg" ng-model="x.dato" name="dato" bs-datepicker data-date-format="dd-MM-yyyy" size="7" data-autoclose="true" data-container="body" />
					</div>

					<div class="col-md-4" style="padding-left: 0px !important;">
						<label class="normal required">Start tidspunkt</label>
						<input type="text" class="form-control bold input-lg" ng-model="x.start_tid" name="start_tid" bs-timepicker data-time-format="HH:mm" data-time-type="string" data-length="1" data-minute-step="1" data-arrow-behavior="picker" data-autoclose="true" data-container="body" />
					</div>

					<div class="col-md-4" style="padding-left: 0px !important;">
						<label class="normal required">Slut tidspunkt</label>
						<input type="text" class="form-control bold input-lg" ng-model="x.slut_tid" name="slut_tid" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" data-autoclose="true" data-container="body" />
					</div>

					<label class="normal">Myrejagt-id :</label>
					<input type="text" class="form-control bold input-lg" select-on-click value="{{ x.myrejagt_id }}" readonly />

				</div>

				<div class="col-md-6">
					<leaflet id="{{ x.mapId }}" class="eksperiment-map" center="x.map.center" defaults="x.map.defaults" layers="x.map.layers" markers="x.map.markers" events="x.map.events" height="280px" style="border:1px solid #ccc;border-radius:5px;"></leaflet>
				</div>

				<button class="btn btn-default btn-eksperiment-save" 
								ng-class="{ 'btn-success' : eksperimentFormChanged('formOversigt{{ x.eksperiment_id }}') }"
								ng-click="updateEksperiment('formOversigt'+x.eksperiment_id)" 
								ng-disabled="!eksperimentFormChanged('formOversigt{{ x.eksperiment_id }}')">
					<i class="fa fa-check"></i>
					Gem ændringer
				</button>	

			</form>
		</div>

	<!---------- lokalitet ------------->
		<div bs-pane data-title="Lokalitet" style="padding-left:0px;">

			<form novalidate id="formLokalitet{{ x.eksperiment_id }}">

				<input type="hidden" name="eksperiment_id" value="{{ x.eksperiment_id }}" />
				<input type="hidden" name="geometryWkt" value="{{ x.geometryWkt }}" />
				<input type="hidden" name="lat" value="{{ x.lat }}" />
				<input type="hidden" name="lng" value="{{ x.lng }}" />

				<div class="control-group col-md-6">

					<label class="normal required">Lokalitet</label>
					<input type="text" class="form-control bold input-md" ng-model="x.adresse" select-on-click adresse-opslag adresse-type="{{ x.adresseType }}" on-select="eksperimentAdresseSelect" eksperiment-id="{{ x.eksperiment_id }}" name="adresse" />
						
					<div class="col-sm-12">
						<label class="radio-inline" bs-popover data-container="html" data-trigger="hover" data-placement="top" data-content="Opslag op i Geodatastyrelsens stednavne-register. Rummer stort set alle bygninger, naturområder, seværdigheder etc. med opslag på populærnavne." > 
							<input type="radio" class="exclude-from-form" ng-model="x.adresseType" name="opslag" value="stednavne_v2" />
							Stednavne
						</label>
						<label class="radio-inline" bs-popover data-container="html" data-trigger="hover" data-placement="top" data-content="Opslag op i Geodatastyrelsens adresse-register. Som i t.ex Rejseplanen kan du skrive husnr. efter vejnavn"> 
							<input type="radio" class="exclude-from-form" ng-model="x.adresseType" name="opslag" value="adresser" checked  />
							Adresser
						</label>
						<label class="radio-inline"> 
							<input type="radio" class="exclude-from-form" ng-model="x.adresseType" name="opslag" value="" />
							Fritekst
						</label>
					</div>
	
					<div class="col-sm-12" style="min-height:10px;"></div>

					<div class="control-group col-md-3" style="padding-left: 0px !important;">
						<label class="normal required">Postnr</label>
						<input type="text" class="form-control bold input-md" ng-model="x.postnr" name="postnr"/>
					</div>

					<div class="control-group col-md-9" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal required">By</label>
						<input type="text" class="form-control bold input-md" ng-model="x.by" name="by"/>
					</div>

					<div class="control-group col-md-7" style="padding-left: 0px !important;">
						<label class="normal required">Kommune</label>
						<input type="text" class="form-control bold input-md" ng-model="x.kommune" id="kommune" name="kommune" />
					</div>

					<div class="control-group col-md-5" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal required">Region</label>
						<input type="text" class="form-control bold input-md" ng-model="x.region" name="region"/>
					</div>

				</div>

				<div class="control-group col-md-6">
					<leaflet id="{{ x.mapId }}_lok" class="eksperiment-map" center="x.map.center" defaults="x.map.defaults" layers="x.map.layers" markers="x.map.markers" events="x.map.events" height="280px" style="border:1px solid #ccc;border-radius:5px;"></leaflet>
				</div>

			</form>		
			<button class="btn btn-default btn-eksperiment-save" 
							ng-class="{ 'btn-success' : eksperimentFormChanged('formLokalitet{{ x.eksperiment_id }}') }"
							ng-click="updateEksperiment('formLokalitet'+x.eksperiment_id)" 
							ng-disabled="!eksperimentFormChanged('formLokalitet{{ x.eksperiment_id }}')">
				<i class="fa fa-check"></i>
				Gem ændringer
			</button>	
		</div>

	<!---------- resultat ------------->
<div bs-pane data-title="Miljødata og Resultater">

	<form novalidate id="formResultater{{ x.eksperiment_id }}">

	<table style="float:left;clar:none;border-spacing:15px 3px;border-collapse: separate;">
		<thead>
				<tr>
					<th class="normal">
						Miljødata
						<i info-sm info-popover="Hjælpetekst omkring miljødata"></i>
					</th>
					<th style="width: 150px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bold">°C</td>
					<td>
								<input type="number" 
														placeholder="0" 
														class="form-control" 
														ng-model="x.temp" 
														name="temp"
														ng-class="{ 'has-value' : d.temp != undefined }"
														style="width:100px !important;" />  

					</td>
				</tr>

				<tr>
					<td class="bold">Vejr</td>
					<td>
										<button data-placeholder="Vælg"
														style="width: 99% !important;text-align:left;"
													  type="button" 
														class="btn btn-default select" 
														ng-model="x.vejr" 
														name="vejr"
														data-toggle="true" 
														ng-class="{ 'has-value' : d.vejr != undefined }"
														bs-options="i.value as i.label for i in items.vejr" 
														bs-select>
											<span class="caret"></span>
										</button>

					</td>
				</tr>

				<tr>
					<td class="bold">Sol</td>
					<td>
										<button data-placeholder="Vælg"
														style="width: 99% !important;text-align:left;"
													  type="button" 
														class="btn btn-default select" 
														ng-model="x.sol" 
														name="sol"
														data-toggle="true" 
														ng-class="{ 'has-value' : d.sol != undefined }"
														bs-options="i.value as i.label for i in items.sol" 
														bs-select>
											<span class="caret"></span>
										</button>

					</td>
				</tr>

				<tr>
					<td class="bold">Vind</td>
					<td>
										<button data-placeholder="Vælg"
														style="width: 99% !important;text-align:left;"
													  type="button" 
														class="btn btn-default select" 
														name="vind"
														ng-model="x.vind" 
														data-toggle="true" 
														ng-class="{ 'has-value' : d.vind != undefined }"
														bs-options="i.value as i.label for i in items.vind" 
														bs-select>
											<span class="caret"></span>
										</button>

					</td>
				</tr>

			</tbody>
		</table>


	<table style="border-spacing:15px 3px;border-collapse: separate; float:left;margin-left:50px;">
		<thead>
			<tr>
				<th>
				</th>
				<th class="normal">
					Maden væk
					<i info-sm info-popover="Var maden væk da eksperimentet blev afsluttet?"></i>
				</th>
				<th class="normal">
					Indsamlet
					<i info-sm info-popover="Antal myrer inden indsamling. Tæl eller foretag et overslag over antallet af myrer mindst to gange. Angiv tværsummen af myreoptællingen i dette felt."></i>
				</th>
				<th class="normal">
					Eft. frys.
					<i info-sm info-popover="Hvor mange myrer er der efter frysning? Angive det nøjagtige antal i denne kolonne."></i>
				</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in x.Data">
					<td class="bold"> {{ d.madding }} </td>
					<td style="text-align:center;"> 
						<checkbox ng-model="d.maden_stjaalet" name="maden_sjaalet" title="test"></checkbox>
					</td>
					<td> 
						<input type="text" 
									only-digits
									style="width: 70px;"
									name="myrer_indsamlet"
									class="form-control"  
									select-on-click
									ng-model="d.myrer_indsamlet"
									ng-class="{ 'has-value' : d.myrer_indsamlet != undefined }">
					</td>
					<td> 
						<input type="text" 
									style="width: 70px;"
									only-numbers
									name="myrer_frysning"
									class="form-control"  
									ng-model="d.myrer_frysning"
									select-on-click
									ng-class="{ 'has-value' : d.myrer_frysning != undefined }">
					</td>
				</tr>
			</tbody>
		</table>

	</form>
			<button class="btn btn-default btn-eksperiment-save" 
							ng-class="{ 'btn-success' : eksperimentFormChanged('formResultater{{ x.eksperiment_id }}') }"
							ng-click="updateEksperimentData(x.eksperiment_id)" 
							ng-disabled="!eksperimentFormChanged('formResultater{{ x.eksperiment_id }}')">
				<i class="fa fa-check"></i>
				Gem ændringer
			</button>	

	</div>
</div>			


</div>


