<div class="container-fluid">

<!------------------- skole user ----------------------->
	<div ng-if="user.role == 0"  class="col-md-12">
	
		<div mj-content="Eksperiment_skole_1"></div>

		<!-- should be directive -->
		<div ng-repeat="a in alerts" class="alert alert-dismissible {{ a.type }}" role="alert" >
			<button type="button" class="close alert-close" aria-label="Luk besked" title="Luk besked">
				<span aria-hidden="true">&times;</span>
			</button>
			<span ng-bind-html="to_trusted(a.message)"></span>
		</div>

		<h4>
			<button role="button" class="btn btn-ku btn-sm" ng-click="showProjekt()" title="Opret nyt projekt">
				<i class="fa fa-plus"></i>&nbsp;Nyt projekt
			</button>

			<button data-placeholder="Sortering"
				id="btn-projekt-sorter"
			  type="button" 
				class="btn btn-default select sortering btn-xs pull-right" 
				ng-model="projektSortering.value" 
				data-toggle="true" 
				bs-options="i.value as i.label for i in items.projektSortering" 
				bs-select
				title="Sortering af projekter"
			>
				<span class="caret"></span>
			</button>
			<label class="pull-right small normal sorter" for="btn-projekt-sorter">
				Sortér projekter&nbsp;
			</label>

		</h4>

		<div class="panel-group" id="accordion" role="tablist" >
			<div ng-repeat="p in projekts | orderBy : projektSortering.value" 
				class="panel panel-default" 
				role="tab" 
				projekt-id="{{ p.projekt_id }}" 
				id="{{ 'heading' + p.projekt_id }}"
			>
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="no-underline" 
							data-toggle="collapse" 
							data-parent="#accordion" 
							href="#" 
							data-target="{{ '#projekt_'+p.projekt_id }}" 
							aria-expanded="true" 
							aria-controls="{{ 'projekt_'+p.projekt_id }}"
							ng-click="skoleProjektClick(p.projekt_id)"
						>

							<span class="projekt-item projekt-delimiter projekt-timestamp"> {{ p.created_timestamp | date:'dd-MM-yyyy  HH:mm' }} </span>
							<span class="projekt-item projekt-delimiter projekt-titel"> {{ p.titel }} </span>
							<span class="projekt-item projekt-lokalitet"> {{ p.lokalitet }} </span>
						</a>
							<span class="projekt-item projekt-edit">
								<button type="button" 
									class="btn btn-ku btn-xs btn-projekt-edit" 
									projekt-id="{{ p.projekt_id }}" 
									title="Rediger projekt">
									<i class="fa fa-edit"></i>
								</button>
							</span>

							<span class="projekt-item projekt-count" title="{{ p.eksperiment_count.$$state.value }} {{ p.eksperiment_count.$$state.value == 1 ? 'eksperiment' : 'eksperimenter' }} "> 
								{{ p.eksperiment_count.$$state.value }} 
							</span>

		      </h4>
		    </div>
  		  <div id="{{ 'projekt_'+p.projekt_id }}" class="panel-collapse collapse" role="tabpanel">
  		    <div class="panel-body">

						<div ng-if="projekt_id == p.projekt_id" style="border:0px !important;">

							<h4>		
								<button role="button" class="btn btn-ku btn-sm" ng-click="createEksperiment()" title="Opret nyt eksperiment">
									<i class="fa fa-plus"></i>
									Nyt eksperiment	
								</button>
								<button type="button" 
									id="btn-eksperiment-sorter"
									class="btn btn-default select sortering btn-xs pull-right" 
									ng-model="sortering.value" 
									data-toggle="true" 
									bs-options="i.value as i.label for i in items.sortering" 
									bs-select
								>
									<span class="caret"></span>
								</button>
								<label class="pull-right small normal sorter" for="btn-eksperiment-sorter">
									Sortér eksperimenter&nbsp;
								</label>

							</h4>
							<span ng-include="'app/projekt/eksperiment.inc.html'"></span>

						</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

<!--////////////////--skole user ----------------------->

<!------------------- privat user ----------------------->

	<div ng-if="user.role == 1">

		<div mj-content="Eksperiment_privat_1"></div>

		<!-- should be directive -->
		<div ng-repeat="a in alerts" class="alert alert-dismissible {{ a.type }}" role="alert" >
			<button type="button" class="close alert-close" aria-label="Luk besked" title="Luk besked">
				<span aria-hidden="true">&times;</span>
			</button>
			<span ng-bind-html="to_trusted(a.message)"></span>
		</div>

		<h3>
			<!-- {{ user.showName }}	eksperimenter<br> -->
			<button role="button" class="btn btn-ku btn-sm" ng-click="createEksperiment()" title="Opret nyt eksperiment">
				<i class="fa fa-plus"></i> Nyt eksperiment
			</button>

			<label class="pull-right small normal sorter">
				Sortér eksperimenter&nbsp;
				<button data-placeholder="Sortering"
					id="sortering"
					style="width: 110px !important;text-align:left; position:relative;top:-2px;"
				  type="button" 
					class="btn btn-default select sortering btn-xs pull-right" 
					ng-model="sortering.value" 
					data-toggle="true" 
					bs-options="i.value as i.label for i in items.sortering" 
					bs-select>
					<span class="caret"></span>
				</button>
			</label>


		</h3>
		<div ng-include="'app/projekt/eksperiment.inc.html'"></div>

	</div>
<!--////////////////--privat user ----------------------->

	
</div>


