
.modal-footer {
    padding: 30px 0;
		padding-left: 22px;
		padding-right: 22px;
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
		clear: both;
}

label.required:before {
  content: "* ";
  color: red;
}

#modal-eksperiment .modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
	height: 500px !important;
}

#modal-eksperiment .tab-content {
	padding:0px;
}

.eksperiment-block {
	border:1px solid silver;
	box-shadow: 2px 2px 3px #dadada; /*#888888;*/
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fafafa; /*#fafafa;*/
	height: 350px;
}

/* ensure transparent background in tbas on hover */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: transparent;
	font-weight: bold;
}

/* reset tab height */
.bs-pane {
	padding-top: 0px;
}
.tab-content {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.btn-eksperiment-save {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.btn-eksperiment-delete {
	position: absolute;
	top: 6px;
	right: 5px;
}

.test {
	color: red;
}

.select span.caret {
	position: relative;
	float: right;
	top: 7px;
}

.has-value {
	background-color: #ccffcc !important;
}
