
.modal-footer {
    padding: 30px 0;
		padding-left: 22px;
		padding-right: 22px;
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
		clear: both;
}

label.required:before {
  content: "* ";
  color: red;
}

#modal-eksperiment .modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
	height: 500px !important;
}

#modal-eksperiment .tab-content {
	padding:0px;
}
