<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-projekt">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"><strong>{{ __projekt.header }}</strong></h4>
			</div>

			<div class="modal-body">

				<form class="form-horizontal" role="form" action="" method="POST">

					<div class="control-group col-md-6">
						<label class="normal required">Titel / Navn på Projekt</label>
						<input type="text" 
							select-on-click
							class="form-control bold input-lg" 
							ng-model="__projekt.titel">

						<div class="col-sm-12"><br></div>

						<label class="normal required">Område (Stednavne eller adresse opslag)</label>
						<input type="text" 
							class="form-control bold input-lg" 
							ng-model="__projekt.lokalitet" 
							select-on-click
							adresse-opslag
							on-select="adresseAfterSelect"
							adresse-type="{{ adresseType }}"
							id="stednavne_v2">
						
						<div class="col-sm-12 no-padding">
	            <label class="radio-inline"> 
								<input type="radio" ng-model="adresseType" name="opslag" value="stednavne_v2" checked>Stednavne
							</label>
	            <label class="radio-inline"> 
								<input type="radio" ng-model="adresseType" name="opslag" value="adresser">Adresser
							</label>
	            <label class="radio-inline"> 
								<input type="radio" ng-model="adresseType" name="opslag" value="">Ingen opslag
							</label>
		        </div>

						<div class="col-sm-12"><br></div>
						
						<div class="col-sm-6 np-padding">
							<label class="normal required">Start dato</label>
							<input type="text" 
									class="form-control bold" 
									ng-model="__projekt.start_tid" 
									bs-datepicker 
									data-date-format="dd-MM-yyyy" 
									size="7" 
									data-container="#modal-projekt" 
									data-autoclose="true">
						</div>
						<div class="col-sm-6 ">
							<label class="normal">Slut dato</label>
							<input type="text" 
									class="form-control bold" 
									ng-model="__projekt.slut_tid" 
									bs-datepicker 
									data-date-format="dd-MM-yyyy" 
									size="7" 
									data-container="#modal-projekt" 
									data-autoclose="true">
						</div>
					</div>

					<div class="control-group col-md-6">
						<label class="normal">Slå op i stednavne / adresser. Træk markeren rundt for finstilling</label>
						<leaflet id="map" 
							center="center" 
							defaults="defaults" 
							layers="layers" 
							markers="markers" 
							events="events" 
							class="projekt-map">
						</leaflet>
					</div>

				</form>

				<div class="col-md-12 clearfix">&nbsp;</div>

			</div>
			
			<div class="modal-footer">
				<span style="float:left;">
					<button type="button" 
						ng-if="showDeleteBtn()"
						class="btn btn-danger btn-xs" 
						ng-click="deleteProjekt(__projekt.projekt_id)">
						Slet Projekt
					</button> 
				</span>
				<button type="button" class="btn btn-success" ng-click="doCreateProjekt()" id="closeBtn" ng-disabled="!canCreateProjekt()">
					{{ __projekt.btnCaption }}
				</button> 
				<button type="button" class="btn btn-default" ng-click="closeModal(false)" >
					Fortryd
				</button> 

			</div>
		</div>
	</div>
</div>
