
#modal-eksperiment .modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
	height: 500px !important;
}

#modal-eksperiment .tab-content {
	padding:0px;
}

.eksperiment-block {
	border:1px solid silver;
	box-shadow: 2px 2px 3px #dadada;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fafafa; 
	min-height: 380px;
	overflow-y: visible;
}

/* ensure transparent background in tbas on hover */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: transparent;
	font-weight: bold;
}

/* reset tab height */
.pane-eksperiment {
	padding-top: 0px !important;
	padding-left: 0px !important;
}
.tab-content {
	padding-top: 0px !important;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
}

.btn-eksperiment-delete {
	position: absolute;
	bottom: -1px;
	right: -16px;
	width: 18px;
	box-shadow: 2px 2px 3px #dadada; 
	border-left: 1px solid #fff;
	background-color: #fafafa; 
}

.has-value {
	background-color: #ccffcc !important;
}

/** projekter **/
.projekt-bar {
	border: 1px solid #dadada;
	padding: 5px;
	margin-bottom: 7px;
	cursor: pointer;
	font-size: 110%;
}
.projekt-bar:not(.bg-primary):hover {
	background-color: #999 !important;
}	
.projekt-bar.bg-primary {
	font-weight: bold;
}	

/****/
.panel-heading {
	white-space: nowrap !important;
	text-overflow: hidden;
}
.projekt-timestamp {
	width: 150px;
	max-width: 150px;
}
.projekt-titel {
	padding-left: 10px;
	width: 30%;
	max-width: 30%;
	min-width: 30%;
	text-overflow: ellipsis;
}
.projekt-lokalitet {
	padding-left: 10px;
	width: 40%;
	max-width: 40%;
	min-width: 40%;
}
.projekt-count {
	border: 1px solid #dadada;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	font-size: 80%;
	padding-left: 8px;
	margin-right: 5px;
	padding-top: 6px;
	top: -3px;
	position: relative;
	right: 20px;
}
.projekt-edit {
	width: 26px;
	position: absolute;
	right: 20px;
}
.projekt-item {
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	overflow: hidden;
}
.projekt-delimiter {
	padding-right: 10px;
	border-right: 2px ridge #901a1e;
}
.projekt-selected {
	background-color: #ebebeb;
}


/* tooltip */
div.tooltip-inner {
    text-align: center;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 16px;
}

/* upload */
.upload-cnt {
	padding: 2px;
	border: 2px dotted gray;
	margin-top: 5px;
	text-align: center;
	height: 290px;
}
img.upload {
	max-height: 285px;
	max-width: 100%;
	cursor: pointer;
}

label.sorter {
	font-size: 11px;
	color: #666;
	line-height: 16px;
	overflow: none;
	position: relative;
	top: 7px;
}

button.sortering {
	width: 110px !important;
	text-align:left; 
	display: inline;
	position: relative;
	top: 10px;
	padding-top: 2px;
}


