
#modal-alert .modal-dialog {
	min-width: 380px !important;
	width: 380px !important;
	height: 200px;
}

#modal-alert .text {
	display: inline-block;
	clear: none;
	float: none;
	width: 290px;
	padding-left: 10px;
	vertical-align: top;
}

#modal-alert .modal-body i {
	clear: none;
	float: none;
	color: darkred;
}

#modal-alert .modal-body {
	padding-bottom: 5px !important;	
}

/* */
#modal-analyse-mail .modal-dialog {

}
#modal-analyse-mail textarea.form-control {
  height: 100%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}	
#modal-analyse-mail .modal-body {
	padding-bottom: 10px;
	height: 300px;
}


