<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-analyse-mail">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title">Send Analyse-email til bruger &lt;{{ alertParams.email }}> </h4>
			</div>

			<div class="modal-body">
				<textarea class="form-control" id="textarea" ng-model="alertParams.mailBody"> {{ alertParams.mailBody }} </textarea>
			</div>

			<div class="modal-footer">

				<div class="col-md-12 text-left clearfix no-padding" style="margin-bottom: 5px;">
					<span ng-repeat="a in attachments">
						{{ a.name }} 
						<button type="button" 
							title="Fjern {{ a.name }}"
							ng-click="removeAttachment($index)"
							class="btn btn-default btn-xs no-padding">
							<i class="fa fa-times fa-fw text-danger"></i>
						</button>&nbsp;
					</span>
<!--
					{{ attachFile.name }}
-->
				</div>

				<div class="col-md-12 no-padding">
					<div class="pull-left">
						<span class="btn btn-primary btn-sm" 
							ngf-select="addAttachment($file, $invalidFiles)" 
							ng-model="file" 
							name="file" 
							ngf-pattern="'*/*'"
					    ngf-accept="'*/*'" 
							ngf-max-size="10MB" 
							ngf-min-height="100">
							<i class="fa fa-attach"></i>
							Vedlæg en fil
						</span>
					</div>
					<button type="button" 
						class="btn" 
						prevent-keyboard-enter
						ng-class="{ 'btn-ku' : checkBodyLength() }"
						ng-disabled="!checkBodyLength()"
						ng-click="alertModalClose(true)">Send email
					</button> 
					<button type="button" 
						class="btn btn-default" 
						ng-click="alertModalClose(false)">Fortryd
					</button> 
				</div>
			</div>

		</div>
	</div>
</div>
