<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-analyse-mail">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title">Send Analyse-email til bruger &lt;{{ alertParams.email }}> </h4>
			</div>

			<div class="modal-body">
				<textarea class="form-control" id="textarea" ng-model="alertParams.mailBody"> {{ alertParams.mailBody }} </textarea>
			</div>

			<div class="modal-footer">
				<div class="pull-left">
					<span class="btn btn-primary btn-sm" 
						ngf-select="registerFile($file, $invalidFiles)" 
						ng-model="file" 
						name="file" 
						ngf-pattern="'*/*'"
				    ngf-accept="'*/*'" 
						ngf-max-size="10MB" 
						ngf-min-height="100">
						<i class="fa fa-attach"></i>
						Vedlæg en fil
					</span>
					{{ attachFile.name }}
				</div>
				<button type="button" 
					class="btn" 
					ng-class="{ 'btn-ku' : checkBodyLength() }"
					ng-disabled="!checkBodyLength()"
					ng-click="alertModalClose(true)">
						Send email
				</button> 
				<button type="button" class="btn btn-default" ng-click="alertModalClose(false)">Fortryd</button> 
			</div>

		</div>
	</div>
</div>
