<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-ResultatDlg">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()" title="Luk">×</button>
				<h4 class="modal-title"> Analyse &rsaquo; {{ resDlg.data.myrejagt_id }}</h4>
			</div>

			<div class="modal-body">

				<div class="col-md-8" style="border-right:1px solid #e5e5e5;">
					<dl class="dl-horizontal">
						<dt>Eksp. dato</dt>
						<dd> 
							{{ resDlg.data.eksperiment_dato | date }}
						</dd>

						<dt>Sted</dt>
						<dd> 
							{{ resDlg.eksperiment.adresse || resDlg.empty }},
							{{ resDlg.eksperiment.postnr || resDlg.empty }}
							{{ resDlg.eksperiment.by || resDlg.empty }}
						</dd>

						<dt>Fødetype</dt>
						<dd>
							{{ resDlg.data.madding}}
						</dd>

						<dt>Miljødata</dt>
						<dd> 
							<table id="table-miljoe">
								<tr>
									<td class="small">Sol:</td><td>{{ resDlg.eksperiment.sol || resDlg.empty }}</td>
									<td class="small">Vind:</td><td>{{ resDlg.eksperiment.vind || resDlg.empty }}</td>
									<td class="small">Vejr:</td><td>{{ resDlg.eksperiment.vejr || resDlg.empty }}</td>
									<td class="small">Temp:</td><td>{{ resDlg.eksperiment.temp || '-' }}&deg;</td>
								</tr>
							</table>
						</dd>

						<dt>Optælling</dt>
						<dd>
							<table id="table-miljoe">
								<tr>
									<td class="small">Efter indsamling:</td><td>{{ resDlg.data.myrer_indsamlet || resDlg.empty }}</td>
									<td class="small">Efter frysning:</td><td>{{ resDlg.data.myrer_frysning || resDlg.empty }}</td>
								</tr>
							</table>
						</dd>
					</dl>
					<br>
					<button class="btn btn-ku btn-sm pull-left" 
						id="btn-create" 
						title="Nyt analyseresultat">
						<i class="fa fa-plus"></i>
					</button>

					<!-- data-container:modal-ResultatDlg -->	
					<div class="pull-left">
						<label class="checkbox-inline">
							Modtagelsesdato
							<input type="text" 
								class="form-control input-sm bold" 
								style="clear: none; display: inline-block; width:110px;"
								ng-model="resDlg.data.proeve_modtaget" 
								bs-datepicker 
								data-date-format="dd-MM-yyyy"
								data-timezone="UTC"
								data-autoclose="true" 
								data-container="#modal-ResultatDlg" 
								ng-change="updateProeveModtaget()"/>
							<input type="checkbox" 
								checked
								ng-model="resDlg.globalDate" 
								style="clear: none; float:right; padding:0px !important;"
								bs-popover 
								data-trigger="hover" 
								data-placement="right" 
								data-content="Hvis krydset af vil samtlige fødetyper for eksperimentet få sat denne modtagelsesdato. "
								data-container="html"/>
						</label>
					</div>
				</div>

				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" 
							ng-model="resDlg.data.proeve_analyseret" 
							ng-checked="resDlg.data.proeve_analyseret == true"
							ng-click="updateProeveAnalyseret()"
							ng-true-value="1"
							ng-false-value="0">
						Marker som analyseret
					</label>

					<br>
					<br>
					<button class="btn btn-ku btn-sm" ng-click="resDlg.sendMail(resDlg.data.user_id, resDlg.data.eksperiment_id, resDlg.data.myrejagt_id)">
						Send Analyse-mail til bruger
					</button>
					<br><br>
					<b>Tidligere sendte emails</b><br>
					<div ng-repeat="m in analyseMails" style="clear:both; float:left; white-space:nowrap;" >
						{{ m.send_timestamp | date : 'short' }},
						{{ m.email }}
					</div>
				</div>


				<div class="col-md-12">			
					<hr style="margin-top:10px;margin-bottom:10px;">
				
					<div ng-repeat="r in resDlg.resultater">

						<span class="col-md-1 resultat-element" style="clear:left;display:inline-block;">
							<input type="text" 
								only-numbers
								select-on-click
								placeholder="0"
								id="antal{{ r.resultat_id }}"
								class="form-control" 
								ng-change="r.edited = true" 
								ng-model="r.antal" >
						</span>

						<span class="col-md-3 resultat-element">
							<input type="text" 
								select-on-click
								placeholder="Videnskabeligt navn"
								resultat_id="{{ r.resultat_id }}"
								class="form-control aa-vid" 
								ng-change="r.edited = true" 
								ng-model="r.navn_videnskabeligt">
						</span>

						<span class="col-md-3 resultat-element">
							<input type="text" 
								select-on-click
								placeholder="Dansk navn"
								resultat_id="{{ r.resultat_id }}"
								class="form-control aa-dk" 
								ng-change="r.edited = true" 
								ng-model="r.navn_dk">
						</span>

						<span class="col-md-4 resultat-element">
							<input type="text" 
								placeholder="Bemærk."
								class="form-control" 
								ng-change="r.edited = true" 
								ng-model="r.kommentar">
						</span>

						<span class="col-md-1 resultat-element">
							<button class="btn btn-sm" 
								ng-class="{ 'btn-ku' : r.edited }"
								ng-click="resDlg.saveResultat(r)" 
								title="Gem ændringer" 
								ng-disabled="!r.edited">
								<i class="glyphicon glyphicon-ok"></i>
							</button>
							<button class="btn btn-danger btn-xs btn-delete" 
								ng-click="resDlg.deleteResultat(r.resultat_id)" 
								title="Slet analyseresultat"  
								resultat_id="{{ r.resultat_id }}">
								<i class="fa fa-times"></i>
							</button>
						</span>
					
						<br>
					</div>			
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$hide()">Luk Vindue</button> 
			</div>

		</div>
	</div>
</div>
