<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-sagsNo">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title"> {{ sagsNoModal.title }}</h4>
			</div>

			<div class="modal-body">
			  <label class="control-label normal" for="input">{{ sagsNoModal.message }}</label>
				<div class="form-group has-success has-feedback" id="modal-sagsNo-input">
					<input type="text" class="form-control bold" ng-model="sagsNoModal.sagsNo" id="input" aria-describedby="inputStatus">
  				<span class="glyphicon glyphicon-ok form-control-feedback" id="modal-sagsNo-glyph" aria-hidden="true"></span>
				  <span id="inputStatus" class="sr-only">(warning)</span>
				</div>
				<span class="text-danger" id="modal-sagsNo-exists" style="display:none;">sagsNr <b>{{ sagsNoModal.sagsNo }}</b> er optaget!</span>
				<span class="checkbox" id="modal-sagsNo-create" style="display:none;margin-top:1px;">
					<label class="normal" style="padding-left:0px;font-size:85%;">
						<input type="checkbox" ng-model="sagsNoModal.willCreate" /> Opret prøve med Prøvenr. <b>{{ sagsNoModal.sagsNo }}</b>
					</label>
				</span>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="sagsNoClose(false)">Fortryd</button> 
				<button type="button" class="btn btn-success" ng-disabled="!sagsNoModal.canSubmit" ng-click="sagsNoClose(true)">OK</button> 
			</div>

		</div>
	</div>
</div>
