html.wait, 
html.wait * { 
	cursor: wait !important; 
}

.modal-footer {
	padding: 15px 0;
	padding-left: 22px;
	padding-right: 22px;
	margin-top: 10px;
	border-top: 1px solid #E5E5E5;
	clear: both;
}


.popover .arrow:hover,
.popover .arrow:active,
.popover .arrow:focus {
	outline: none !important;
}

.circle {
	padding-left: 17px;
	padding-top: 14px;
	border-radius: 50%;
	font-weight: bold;
	color: maroon;
	font-size: 14px !important;
	width: 50px;
	height: 50px; 
	background-color: #ebebeb;
	overflow-x: visible;
	border:1px solid maroon;
}

/* display inline */
.display-inline {
	display: inline !important;
}


/* cursor hand in tabs */
a[role="tab"] {
	cursor: pointer;
	user-select: none;
  -moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.no-select {
	user-select: none;
  -moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* color the left sorting arrow i dataTables */
table.table thead .sorting_asc:before,
table.table thead .sorting_desc:before {
	color: #901a1e;
}
/* datatable head and body norders */
table.dataTable thead th, 
table.dataTable thead td {
	border-bottom: 1px solid silver;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 1px solid silver;
}
/* datatable select backgroundcolor */
table.dataTable tbody tr.selected {
	background-color: #ebebeb;
}
/* prevent text select in selected rows */
table.dataTable tbody tr.selected {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* set color on pagination buttons */
.pagination > li > a, .pagination > li > span {
	color: #901a1e;	
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	border-color: #901a1e;
	background-color: #901a1e;	
	color: #fff;
}

/* reset double arrows duw to bootstrap.css usage */
.dataTable > thead > tr > th[class*="sort"]:after { 
	content: "" !important;
}
/* prevent black wholes between pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding-left: 1px;
	padding-right: 0px;
	background-color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: white !important;
	border: 1px solid white;
}
/* remove ugly black bottom border */
table.dataTable.no-footer {
	border: 1px solid #ebebeb;
}
/* centered column */
table.dataTable tbody td.center {
	text-align: center;
}

/* re-style readonly inputs */
.form-control[readonly] {
	background-color: #fff !important;
}

/* prevent selects from appear below leaflet controls */
.select.dropdown-menu {
	z-index: 10999;
}
#sortering > select.dropdown-menu li a {
	font-size: 8px;
	color: red;
}

.alert {
	margin-bottom: 10px;
}

/* required red star */
label.required:before {
  content: "* ";
  color: red;
}

/* */
.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;

}
.normal {
	font-weight: normal;
}
.bold {
	font-weight: bold !important;
}
.pointer {
	cursor: pointer;
}
.popover-title { display: none; }

/*****/
.btn-ku {
	background-color: #901a1e;
	color: white;
}
.btn-ku:hover {
	background-color: #666;
	color: white;
}
.bg-ku {
	background-color: #666;
	color: white;
}
	
.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:focus {
	text-decoration: none;
}
a {
   outline: 0;
}
a::-moz-focus-inner {
  border: 0;
}

.panel-heading:has(.no-underline:focus) {
	background-color: red;
}




/* 
----------------------------------------------------------------------
 xxx_app.css 
*/
label {
	white-space: nowrap;
}

.form-group {
	margin-bottom: 5px;
}

.no-padding-left {
	padding-left: 0px;
	margin-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
	margin-right: 0px;
}
.no-pointer-events {
	pointer-events: none;
}

/**
* Bootstrap Fonts
*/

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
*Font Awesome Fonts
*/

@font-face {
	font-family: 'FontAwesome';
	src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
* App-wide Styles
*/

ul.nav > li > button {
	margin-top: 7px;
}

/**
	fix hidden scrollbar bug when modals is open 
	https://github.com/twbs/bootstrap/pull/13103
*/
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	padding-right: 0px !important;
	overflow-y: auto;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #901a1e !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #901a1e; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content { padding:20px }


/** 
	leaflet fixes 
*/
.leaflet-control-layers-toggle {
	background-image: url(../assets/layers.png);
}

/** 
	fix mobile menu 
*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.navbar-collapse.in {
	overflow-y: visible; 
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.in #ku-navbar {
	right: 0px;
	top: 0px;
}

