<div class="container-fluid">

	<h2>
		{{ user.fulde_navn || user.brugernavn }}
	</h2>

		<div ng-repeat="a in alerts" class="alert alert-dismissible {{ a.type }}" role="alert" >
			<button type="button" class="close alert-close" aria-label="Luk besked" title="Luk besked">
				<span aria-hidden="true">&times;</span>
			</button>
			<span ng-bind-html="a.message"></span>
		</div>
	<br>

	<div class="control-group col-md-7">
		<div bs-tabs class="control-group col-md-12" id="form-cnt">

<!------ private oplysninger ----->
			<div bs-pane data-title="Brugeroplysninger">

				<button role="button" 
								class="btn btn-sm btn-save" 
								ng-disabled="!formPersonligeChanged()"
								ng-class="{ 'btn-ku' : formPersonligeChanged() }"
								ng-click="savePersonlige()"
				>
					<i class="fa fa-check"></i>
					Gem ændringer
				</button>

				<form class="form-horizontal" role="form" id="form-personlige" name="form.formPersonlige">

					<div class="control-group col-md-12">
						<label class="normal required">Email-adresse <span class="help-block small display-inline">(dit login, kan ikke ændres)</span></label>
						<input type="text" 
									class="form-control bold input-sm" 
									value="{{ user.email }}" id="email" 
									style="color: gray;"
									select-on-click
						readonly/>
					</div>

					<div class="control-group col-md-12" ng-if="user.role == 0">
						<label class="normal required">Institution</label>
						<input type="text" 
									institution-opslag="institutionSelect"
									select-on-click
									class="form-control bold input-lg" 
									ng-model="user.institution" 
									id="institution" 
						/>
					</div>

					<div class="control-group col-md-6">
						<label class="normal required">Brugernavn</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.brugernavn" id="brugernavn" />
					</div>

					<div class="control-group col-md-6 XXno-padding-left">
						<label class="normal required">Password</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.password" id="password" />
					</div>


					<div class="control-group col-md-9">
						<label class="normal">Fulde navn</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.fulde_navn" id="fulde_navn" />
					</div>
<!--
					<label class="normal">Addresse</label>
					<input type="text" class="form-control bold input-lg" select-on-click adresse-opslag adresse-type="adresser" ng-model="user.adresse" name="adresse"/>
-->

					<div class="control-group col-md-3 no-padding-left">
						<label class="normal required">Postnr</label>
						<input type="text" 
							id="postnr"
							postnr-opslag
							select-on-click
							only-numbers
							after-select="postnrAfterSelect"
							class="form-control bold input-lg" 
							ng-model="user.postnr"
						/>
					</div>

<!--
					<div class="control-group col-md-8" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal">By</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.by"/>
					</div>

					<div class="control-group col-md-6" style="padding-left: 0px !important;">
						<label class="normal">Kommune</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.kommune" id="kommune" />
					</div>

					<div class="control-group col-md-6" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal">Region</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.region"/>
					</div>
-->
				</form>
			</div>
<!---/// private oplysninger ----->


<!------ download ----->
			<div bs-pane data-title="Download data">
				<div mj-content="Download_beskrivelse_1"></div>
				<br>
				<button class="btn btn-primary" ng-click="downloadData()">Download egne data</button>
			</div>			
<!--/// download ----->

		</div>
	</div>
	
	<div class="control-group col-md-5">
		<div mj-content="Brugerkonto_1"></div>
	</div>

</div>


