.btn-save {
	float:right;
	clear:none;
	position:relative;
	top:-13px;
	right: 0px;
}

.alert-brugeroplysninger {
	cursor: pointer;
}

/* red popover */
.popover-danger {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: white;
	cursor: pointer;
}
.popover-danger.right .arrow:after {
	border-right-color: #d9534f;
}
.popover-danger.top .arrow:after {
	border-top-color: #d9534f;
}
