<div class="container">

	<h2>
		{{ user.fulde_navn }}
	</h2>

		<div ng-repeat="a in alerts" class="alert alert-dismissible {{ a.type }}" role="alert" >
			<button type="button" class="close alert-close" aria-label="Luk besked" title="Luk besked">
				<span aria-hidden="true">&times;</span>
			</button>
			<span ng-bind-html="a.message"></span>
		</div>
	<br>

	<div class="control-group col-md-7">
		<div bs-tabs class="control-group col-md-12" id="form-cnt">

<!------ private oplysninger ----->
			<div bs-pane data-title="Private oplysninger">

				<button role="button" 
								class="btn btn-sm btn-save" 
								ng-disabled="!formPersonligeChanged()"
								ng-class="{ 'btn-success' : formPersonligeChanged() }"
								ng-click="savePersonlige()"
				>
					<i class="fa fa-check"></i>
					Gem ændringer
				</button>

				<form class="form-horizontal" role="form" id="form-personlige">

					<span ng-show="user.role == 0">
						<label class="normal required">Institution</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.institution" id="institution" />
					</span>

					<label class="normal required">Fulde navn</label>
					<input type="text" class="form-control bold input-lg" ng-model="user.fulde_navn" />

					<label class="normal required">Addresse</label>
					<input type="text" class="form-control bold input-lg" select-on-click adresse-opslag adresse-type="adresser" ng-model="user.adresse" name="adresse"/>

					<div class="control-group col-md-4" style="padding-left: 0px !important;">
						<label class="normal required">Postnr</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.postnr"/>
					</div>

					<div class="control-group col-md-8" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal required">By</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.by"/>
					</div>

					<div class="control-group col-md-6" style="padding-left: 0px !important;">
						<label class="normal required">Kommune</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.kommune" id="kommune" />
					</div>

					<div class="control-group col-md-6" style="padding-right: 0px !important; padding-left:0px !important;">
						<label class="normal required">Region</label>
						<input type="text" class="form-control bold input-lg" ng-model="user.region"/>
					</div>

				</form>
			</div>
<!---/// private oplysninger ----->


<!------ brugerkonto ----->
			<div bs-pane data-title="Brugerkonto">

				<button role="button" 
								class="btn btn-sm btn-save" 
								ng-disabled="!formStamdataChanged()"
								ng-class="{ 'btn-success' : formStamdataChanged() }"
								ng-click="saveStamdata()"
				>
					<i class="fa fa-check"></i>
					Gem ændringer
				</button>

				<form class="form-horizontal" arole="form" id="form-stamdata" name="formStamdata" novalidate>

					<label class="normal required">Email-adresse <span class="help-block display-inline">(dit login, kan ikke ændres)</span></label>
					<input type="text" class="form-control bold input-lg" value="{{ user.email }}" id="email" disabled/>

					<br>

					<label class="normal required">Brugernavn</label>
					<input type="text" class="form-control bold input-lg" ng-model="user.brugernavn" id="brugernavn" />

				</form>
			</div>
<!---/// brugerkonto ----->

<!------ download ----->
			<div bs-pane data-title="Download data">
			</div>			
<!--/// download ----->

		</div>
	</div>
	
	<div class="control-group col-md-5">
		<div class="circle">Brugerkonto_1</div>
	</div>

</div>


