.btn-save {
	float:right;
	clear:none;
	position:relative;
	top:-13px;
	right: 0px;
}

.alert-brugeroplysninger {
	cursor: pointer;
}




.popover-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
}

.popover.right .arrow:after {
  border-right-color: rgb(255, 179, 179);
}

.popover-content {
  border-color: rgb(255, 179, 179);
	background-color: rgb(255, 179, 179);
}

