<div class="container">
  <div class="col-md-12">

	  <div class="col-md-9" style="">
			<div mj-content="Forside_1"></div>	
			<!--
			<br>
			<img src="../assets/myrejagten-forside.jpg" class="col-md-12"/>
			-->
		</div>

	  <div class="col-md-3">

		  <div class="form-group" ng-if="!isLoggedIn">
				<h5 class="text-uppercase">Login</h5>
				<input type="text" ng-model="rememberMe.m" class="form-control input-sm bold" placeholder="Email"  />
				<input type="password" ng-model="rememberMe.p" class="form-control input-sm bold" placeholder="Password" style="margin-top:7px;"  />

				<button 
					class="btn btn-xs" 
					style="float:left;margin-top:4px;" 
					ng-click="login()"
					ng-class="{ 'btn-success' : canLogin() }"
				>Login</button>

				<div class="checkbox" style="float:right;margin-top:1px;" ng-checked="rememberMe.rememberMe == true">
				  <label>
						<span style="padding-right:30px;">Husk mig</span>
						<input type="checkbox" ng-model="rememberMe.rememberMe" ng-checked="rememberMe.rememberMe == true">
					</label>
				</div>
			</div>
		  <div class="form-group" ng-show="!isLoggedIn">
				<br>
			  <hr ng-show="!isLoggedIn">
				<h5 class="text-uppercase">Opret bruger</h5>
				<p>
					Er du endnu ikke bruger, så opret dig ved at klikke 
					<strong>
						<a href="/tilmeld" title="Tilmeld dig myrejagten ...">
							<u>her</u>
						</a>
					</strong> &raquo;
				</p>
			</div>

			<!-- textabout myrejagten? -->
		  <div class="form-group" ng-if="isLoggedIn">
				<div mj-content="Forside_2"></div>	
			</div>

		</div>

	</div>	

</div>

</div>


