
.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}

/* 17082016 */
html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 1100px;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header
{
    background: green;
    height: 50px;
}

.row
{
    height: 100%;
    display: table-row;
}
.col-md-3.no-float, .col-md-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-md-3
{
    display: table-cell;
    background: transparent;
    width: 25%;
}
.col-md-9
{
    display: table-cell;
    background: transparent;
    width: 75%;
}
