<br>
<div class="container">


  <div class="col-sm-12">

	  <div class="col-md-9 no-float" style="min-height:100% !important;height:100%;font-size:18px;">
			<div class="circle">F1</div>

			public/assets/faelles.svg
			<img src="/public/assets/faelles.svg" height="100" >
			<br>

			assets/faelles.svg
			<img src="/assets/faelles.svg" height=100">
			<br>

		</div>

	  <div class="col-md-3 no-float">
		  <div class="form-group">
				<input type="text" ng-model="login.brugernavn" class="form-control input-sm bold xno-padding" placeholder="Brugernavn"  />
				<input type="password" ng-model="login.password" class="form-control input-sm bold xno-padding" placeholder="Password" style="margin-top:7px;"  />
				<button class="btn btn-xs" style="float:left;margin-top:4px;">Login</button>
				<div class="checkbox" style="float:right;margin-top:1px;"">
				  <label>
						<span style="padding-right:30px;">Husk mig</span>
						<input type="checkbox" value="">
					</label>
				</div>
			</div>
			<br><br>
			<h4>Tilmeld dig Myrejagten</h4>
			<div class="circle">F2</div>
		</div>

	</div>


</div>


