<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-upload">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title"> Upload video</h4>
			</div>

			<div class="modal-body">
					<div class="control-group col-md-12">

					<form name="form">
					  <div class="btn btn-primary" ngf-select="registerFile($file, $invalidFiles)" ng-model="file" name="file" ngf-pattern="'video/*'"
					    ngf-accept="'video/*'" ngf-max-size="25MB" ngf-min-height="100">Vælg video / filmklip fra computer
						</div>

						<br><br>
						<video id="upload-image-modal"
								controls
								width="450"
								style="display:inline-block !important; max-height:250px !important;"
							  ngf-src="selectedFile || '{{ currentImage }}' "
							  ngf-background="selectedFile" 
							  ngf-resize="{width: 400, height: 250, quality: 0.9}" 
							  ngf-no-object-url="false" 
							></video>

					<!--
						<br><br>

						<div class="control-group col-md-12 no-padding">
							<input type="text" class="form-control input-lg" ng-model="selectedVideo" />
						</div>
						<br><br>
					-->

					</form>			
				</div>
			</div>

			<div class="modal-footer">
			  <button type="submit" class="btn btn-success" ng-click="uploadFile()">
					Upload billede
				</button>
				<button type="button" class="btn btn-default" ng-click="modalClose(false)" >Fortryd</button> 
			</div>

		</div>
	</div>
</div>
