<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-upload">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title pull-left" style="display:inline-block;">Upload billede</h4>
				<span class="btn btn-primary btn-sm pull-right" 
					ngf-select="registerFile($file, $invalidFiles)" 
					ng-model="file" 
					name="file" 
					ngf-pattern="'image/*'"
			    ngf-accept="'image/*'" 
					ngf-max-size="12MB" 
					ngf-min-height="100">
					<i class="fa fa-upload"></i>
					<strong>Vælg billede fra computer</strong>
				</span>
			</div>

			<div class="modal-body">
				<div class="control-group col-md-12">
					<form name="form">
						<div class="form-control col-md-12 modal-upload-cnt">
							<img id="modal-upload-image"
								style="display:inline-block !important; max-height:275px !important;"
							  ngf-src="selectedFile || '{{ currentImage }}' "
							  ngf-background="selectedFile" 
							  ngf-resize="{ height: 300, quality: 0.9}" 
							  ngf-no-object-url="false">
						</div>
					</form>			
				</div>
			</div>

			<div class="modal-footer">
			  <button type="submit" class="btn btn-success" ng-click="uploadFile()">
					Upload billede
				</button>
				<button type="button" class="btn btn-default" ng-click="modalClose(false)" >Fortryd</button> 
			</div>

		</div>
	</div>
</div>
