
#modal-upload .modal-dialog {
	min-width: 600px !important;
	width: 600px !important;
	height: 400px;
}

#modal-upload .text {
	display: inline-block;
	clear: none;
	float: none;
	width: 290px;
	padding-left: 10px;
	vertical-align: top;
}

#modal-upload .modal-body i {
	clear: none;
	float: none;
	color: darkred;
}

.modal.center .modal-dialog {
	position: fixed;
	top: 40%;
	left: 50%;
	min-width: 320px;
	max-width: 630px;
	width: 50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%)
}

.modal-upload-cnt {
	border:2px dotted gray; 
	clear:both; 
	float: left; 
	padding:10px; 
	display: block; 
	min-width: 99%; 
	min-height: 300px; 
	text-align: center; 
	vertical-align: middle;
}



