<div class="container-fluid">

	<div bs-tabs class="XXcontrol-group col-sm-9">

		<div bs-pane data-title="Kort" style="padding-left:0px;" ng-controller="KortCtrl">
			<div class="control-group col-md-12">
				<leaflet id="vis-map" center="map.center" defaults="map.defaults" layers="map.layers" markers="map.markers" events="map.events" height="580px" style="border:1px solid #ccc;border-radius:5px;"></leaflet>
			</div>
		</div>

		<div bs-pane data-title="Fødevalg" style="padding-left:0px;">
			<button ng-if="user"
				type="button" 
				class="btn btn-default"
				data-placeholder="Sammenlign med eksperiment ..    "
				ng-model="selected.eksperiment" 
				data-html="1" 
				bs-options="e.value as e.label for e in eksperimenter" 
				ng-change="eksperimentChange()"
				bs-select
			>
			 	<span class="caret"></span>
			</button>
			<br><br>
			<canvas id="bar" 
				class="chart chart-bar"
				chart-data="ratioData" 
				chart-labels="ratioLabels" 
				chart-series="ratioSeries" 
				chart-legend="true"
				chart-options="options"
				chart-dataset-override="datasetOverride"
			>
			</canvas>
			<div mj-content="Fødevalg_chart"></div>
		</div>

		<div bs-pane data-title="Artshitliste" style="padding-left:0px;" ng-controller="ArtshitlisteCtrl">
			<canvas id="base" 
				class="chart chart-horizontal-bar"
				chart-options="options"
				chart-data="data" 
				chart-labels="labels" 
				chart-colors="colors"
			>
			</canvas> 
		</div>

	</div>

	<div class="XXXcontrol-group col-sm-3">
		<div mj-content="Visualisering_1"></div>
	</div>


</div>


