<div class="container-fluid">

	<div bs-tabs class="col-sm-9">

		<div bs-pane data-title="Kort" style="padding-left:0px;" ng-controller="KortCtrl">
			<div class="control-group col-md-12">
				<leaflet id="prik-kort" 
					center="map.center" 
					defaults="map.defaults" 
					layers="map.layers" 
					markers="map.markers" 
					events="map.events" 
					height="580px" 
					style="border:1px solid #ccc;border-radius:5px;">
				</leaflet>
				<small class="text-muted" style="line-height: 120% !important;display:inline-block;margin-top:5px;">
					I alt er der gennemført {{ stats.antal_eksperimenter }} eksperimenter. Totalt {{ stats.myrer_indsamlet | number }} myrer indsamlet, {{ stats.myrer_frysning | number }} myrer optalt efter frysning. Indtil videre er {{ stats.antal_myre_arter }} unikke myrearter identifceret.
				</small>
			</div>
		</div>

		<div bs-pane data-title="Fødevalg" style="padding-left:0px;">
			<button ng-if="user"
				type="button" 
				class="btn btn-default"
				data-placeholder="Sammenlign med eksperiment ..    "
				ng-model="selected.eksperiment" 
				data-html="1" 
				bs-options="e.value as e.label for e in eksperimenter" 
				ng-change="eksperimentChange()"
				bs-select>
			 	<span class="caret"></span>
			</button>
			<br><br>
			<canvas id="bar" 
				class="chart chart-bar"
				chart-data="ratioData" 
				chart-labels="ratioLabels" 
				chart-series="ratioSeries" 
				chart-legend="true"
				chart-options="options"
				chart-dataset-override="datasetOverride">
			</canvas>
		</div>

		<div bs-pane data-title="Artshitliste" style="padding-left:0px;" ng-controller="ArtshitlisteCtrl">
			<canvas id="artshitliste" 
				class="chart chart-horizontal-bar"
				chart-options="options"
				chart-data="data" 
				chart-labels="labels" 
				chart-colors="colors">
			</canvas> 
		</div>

		<div bs-pane data-title="Kommuner" style="padding-left:0px;" ng-controller="KommuneKortCtrl">
			<div class="control-group col-md-12">
				<leaflet id="kommune-kort" 
					center="map.center" 
					defaults="map.defaults" 
					layers="map.layers" 
					markers="map.markers" 
					events="map.events" 
					event-broadcast="map.events"
					height="580px" 
					paths="map.paths" 
					style="border:1px solid #ccc;border-radius:5px;">
				</leaflet>
			</div>
		</div>

		<div bs-pane data-title="Fundsteder" style="padding-left:0px;" ng-controller="FundstederCtrl">
			<div class="col-md-12 no-padding">
				<div class="btn-group" ng-model="selected.selected" bs-radio-group>
					<label ng-repeat="art in arter" 
						class="btn btn-xs btn-default" 
						style="margin-top:2px;margin-right:2px;" 
						ng-click="select(art.navn_videnskabeligt)"
						title="{{ art.navn_dk || art.navn_videnskabeligt }}, {{ art.navn_videnskabeligt }}">
						<input type="radio" class="btn btn-default" value="{{ $index }}"> 
						{{ art.navn_dk || art.navn_videnskabeligt }} ({{ art.antal_eksperimenter}})
					</label>
				</div>
				<br><br>
			</div>

			<div class="control-group col-md-12">
				<leaflet id="fundsteder-kort" 
					center="map.center" 
					defaults="map.defaults" 
					layers="map.layers" 
					markers="map.markers" 
					events="map.events" 
					height="580px" 
					style="border:1px solid #ccc;border-radius:5px;">
				</leaflet>
			</div>
		</div>

	</div>

	<div class="col-sm-3">
		<div mj-content="Visualisering_1"></div>
	</div>


</div>


