.navbar {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
.container > div {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/

.navbar-brand {
	color: red;
	font-weight: bold;
	text-shadow: 1px 2px #e2e2e2;
}

input[type="number"] {
	width: 70px;
	max-width: 70px;
}

label {
	white-space: nowrap;
}

.form-group {
	margin-bottom: 5px;
}

.no-padding-left {
	padding-left: 0px;
	margin-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
	margin-right: 0px;
}
/**
* Bootstrap Fonts
*/

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
*Font Awesome Fonts
*/

@font-face {
	font-family: 'FontAwesome';
	src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
	url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
* App-wide Styles
*/

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

ul.nav > li > button {
	margin-top: 7px;
}

.modal-backdrop.am-fade {
	opacity: .5;
	transition: opacity .15s linear;
	&.ng-enter {
		opacity: 0;
		&.ng-enter-active {
			opacity: .5;
		}

	}
	&.ng-leave {
		opacity: .5;
		&.ng-leave-active {
			opacity: 0;
		}

	}

}

.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}

.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
label.rememberMe {
	vertical-align: middle;
	font-weight: normal;
}


.trash { 
	color:rgb(209, 91, 71); 
}
th {
	cursor: pointer;
}
th.action, td.action {
	width: 30px;
	max-width: 30px;
	cursor: pointer;
}
.padding-right-10 {
	margin-right:20px;
}




#modal-alert .modal-dialog {
	min-width: 380px !important;
	width: 380px !important;
}

#modal-alert .text {
	display: inline-block;
	clear: none;
	float: none;
	width: 290px;
	padding-left: 10px;
	vertical-align: top;
}

#modal-alert .modal-body i {
	clear: none;
	float: none;
	color: darkred;
}


	



.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}



.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}


#forsoeg-modal .modal-dialog {
	min-width: 680px !important;
	width: 480px !important;
}




.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}

/* 17082016 */
html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 1100px;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header
{
    background: green;
    height: 50px;
}

.row
{
    height: 100%;
    display: table-row;
}
.col-md-3.no-float, .col-md-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-md-3
{
    display: table-cell;
    background: transparent;
    width: 25%;
}
.col-md-9
{
    display: table-cell;
    background: transparent;
    width: 75%;
}


.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}



#modal-proeveNr .modal-dialog {
	min-width: 320px !important;
	width: 320px !important;
}

#modal-proeveNr .modal-body {
	min-height: 120px !important;
	height: 120px !important;
}



#modal-sagsNo .modal-dialog {
	min-width: 320px !important;
	width: 320px !important;
}

#modal-sagsNo .modal-body {
	min-height: 120px !important;
	height: 120px !important;
}


.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
   background-color: #fff !important;
	-webkit-box-shadow: 0 0 0 50px white inset;

}

.cfp-hotkeys-container {
  display: table !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #333;
  font-size: 1em;
  background-color: rgba(255,255,255,0.9);
}

.cfp-hotkeys-container.fade {
  z-index: -1024;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.cfp-hotkeys-container.fade.in {
  z-index: 10002;
  visibility: visible;
  opacity: 1;
}

.cfp-hotkeys-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.cfp-hotkeys {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.cfp-hotkeys table {
  margin: auto;
  color: #333;
}

.cfp-content {
  display: table-cell;
  vertical-align: middle;
}

.cfp-hotkeys-keys {
  padding: 5px;
  text-align: right;
}

.cfp-hotkeys-key {
  display: inline-block;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  box-shadow: inset 0 1px 0 #666, 0 1px 0 #bbb;
  padding: 5px 9px;
  font-size: 1em;
}

.cfp-hotkeys-text {
  padding-left: 10px;
  font-size: 1em;
}

.cfp-hotkeys-close {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 45px;
  min-width: 45px;
  text-align: center;
}

.cfp-hotkeys-close:hover {
  background-color: #fff;
  cursor: pointer;
}

@media all and (max-width: 500px) {
  .cfp-hotkeys {
    font-size: 0.8em;
  }
}

@media all and (min-width: 750px) {
  .cfp-hotkeys {
    font-size: 1.2em;
  }
}

/*
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
*/
.navbar-snm {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*
.navbar-default .navbar-brand {
  color: #252525;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2f46bb;
}
.navbar-default .navbar-text {
  color: #252525;
}
.navbar-default .navbar-nav > li > a {
  color: #252525;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2f46bb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2f46bb;
  background-color: transparent !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2f46bb;
  background-color: transparent !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: transparent !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #252525;
}
.navbar-default .navbar-link {
  color: #252525;
}
.navbar-default .navbar-link:hover {
  color: #2f46bb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #252525;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2f46bb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2f46bb;
    background-color: transparent !important;
  }
}
*/
