
<div class="container">

	<h3>Glemt password</h3>

	<div class="col-md-6">

		<form name="form">
		<div class="control-group">
			<label class="control-label required normal" for="email">
				Email-adresse
			</label>
			<input type="email" id="email" name="email" ng-model="email" placeholder="" class="form-control input-lg" required>

			<div style="height: 40px !important">
				<p class="help-block error" ng-show="form.email.$error.required">
					Email-adresse skal udfyldes!
				</p>
				<p class="help-block error" ng-show="form.email.$error.email">
					Ugyldig email-adresse.
				</p>
			</div>

			<em class="text-success" ng-if="emailSent">
				{{ emailSent }}
			</em>	

			<button class="btn btn-default btn-lg pull-right" 
							type="button" 
							title="Send email med nuværende password"
							ng-class="{ 'btn-ku' : !form.email.$error.required && !form.email.$error.email }"
							ng-click="sendEmail()"
							ng-if="!emailSent"
			>
				Send email 
			</button>

			<p style="clear:both; float:left;">
				<br>
				Indtast den email-adresse du opgav i forbindelse med brugeroprettelse på Myrejagten. Hvis adressen genkendes af systemet
				vil der blive afsendt en email indeholdende relevante login-oplysninger. 
			</p>
	

	</div>
	</form>

</div>

