
.modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
   background-color: #fff !important;
	-webkit-box-shadow: 0 0 0 50px white inset;

}
