<div class="container">

	<h3>Tilmelding til Myrejagten</h3>

	<div class="col-md-12">
		<!--
		<div class="circle">T1</div>
		-->
	</div>

	<br>
	<div class="col-md-6">

	<!--
		<i info-xs info-popover="test."></i>
		<i info-sm info-popover="test."></i>
		<i info-md info-popover="test."></i>
		<i info-lg info-popover="test."></i>
	-->

		<div class="control-group">
			<div class="controls">
				<div class="radio" xstyle="margin-left:20px;">
					Hvilken slags bruger&nbsp;:&nbsp;&nbsp;
					<label class="bold" bs-popover data-trigger="hover" data-placement="top" data-content="Brugeren kan knyttes til en skole, fritdshjem, bønehave o.lign. Eksperimenter inddeles i overordnede projekter, hvilket giver mulighed for t.ex inddeling i hold.">
						<input type="radio" name="brugertype" value="0" ng-model="user.role">Skole
					</label>
					&nbsp;&nbsp;
					<label class="bold" bs-popover data-trigger="hover" data-placement="top" data-content="Normal bruger med navn og adresse som kan oprette et vilkårlgt antal eksperimenter.">
						<input type="radio" name="brugertype"  value="1" ng-model="user.role" checked>Privat
					</label>
				</div>
			</div>
		</div>
    
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label required normal" for="email">E-mail adresse</label>
 				<div class="input-group">
					<input type="text" id="email" ng-model="user.email" placeholder="" class="form-control input-lg">
		      <span class="input-group-btn">
						<i style="margin-left:5px;" info-popover="En gyldig emailadresse der benyttes som login. Der vil blive sendt en bekræftelsesmail til adressen."></i>
  		    </span>
				</div>
				<p class="help-block error" ng-show="emailInUse()">
					Email-adressen <b>{{ user.email }}</b> er allerede i brug! Har du <a href="/glemt-password/?email={{ user.email }}">glemt password?</a>
				</p>
				<p class="help-block error" ng-show="!emailIsValid()">
					Email-adresse er ikke gyldig!
				</p>
	
			<div class="control-group">
				<label class="control-label required normal" for="username">Brugernavn</label>
 				<div class="input-group">
					<input type="text" ng-model="user.brugernavn" placeholder="" class="form-control input-lg">
		      <span class="input-group-btn">
						<i style="margin-left:5px;" info-popover="Dit synlige navn på myrejagten. Kan indeholde bogstaver, tal, mellemrum mv."></i>
  		    </span>
				</div>
			</div>
         
		<div class="control-group">
			<label class="control-label required normal" for="password">Password</label>
			<div class="input-group">
				<input type="text" id="password" ng-model="user.password" class="form-control input-lg">
				<span class="input-group-btn">
					<button class="btn btn-default btn-lg" style="postion:relative;top:0px;left:-1px;" ng-click="generatePassword()" title="Generer et tilfældigt password med rimelig god sikkerhed"><i class="fa fa-gear"></i></button>
				</span>
				<span class="input-group-btn">
					<i style="margin-left:5px;" info-popover-size="lg" info-popover="Dit password skal være mindst 3 karakterer langt, men derudover er der ingen særlige  regler der skal overholdes."></i>
 		    </span>
			</div>
		</div>

            <div class="control-group">
			        <div class="pull-right checkbox" style="position:relative;top:-14px;right:40px;">
							  <label class="normal">
									<input type="checkbox" ng-model="user.accepted">
									Jeg accepterer 
									<a target=_blank href="/betingelser-og-vilkår"><strong>betingelser og vilkår</strong></a>.
								</label>
							</div>
            </div>
         
            <div class="control-group">
              <div class="controls">
								<br><br><br>
                <button class="btn btn-success btn-lg" ng-disabled="!canCreateUser()" ng-click="createUser()">
									<i class="fa fa-check" ng-show="canCreateUser()"></i>
									Tilmeld dig Myrejagten!
								</button>
              </div>
            </div>
        </form>
    
    </div> 
	</div>

 	<div class="col-md-6">
		<div class="circle">Tilmeldig_1</div>

  </div>

</div>


