
.modal-dialog {
	max-width: 90% !important;
	width: 60% !important;
}

/* datatables */
table.dataTable tbody th, 
table.dataTable tbody td {
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
   background-color: #fff !important;
	-webkit-box-shadow: 0 0 0 50px white inset;
}

.error {
	color: maroon !important;
}

h2.info {
	padding-top: 15%;
	margin-top: 15%;
	padding-left: 7px;
	cursor: pointer;
}

.btn-password-generate {
	postion:relative;
	left:-1px;
	border-radius: 0px;
}
.btn-password-generate:hover {
	border:1px solid silver;
	border-bottom:2px solid silver;
}
